<form
  class="d-flex flex-column align-items-center"
  action="/success"
  method="post"
>
  <input
    id="url"
    class="form-control mb-3"
    type="text"
    name="url"
    placeholder="Input URL here"
  />
  <input
    class="btn btn-outline-primary px-5"
    type="submit"
    value="Shorten"
  />
</form>
