<p class="h3">Success! Please use this link:</p>
<a
  class="mb-3 h3 text-primary"
  id="shortenedURL"
  href="{{shortenedURL}}"
  target="_blank"
>{{shortenedURL}}</a>
<button type="button" id="copyBtn" class="btn btn-primary px-5">Copy</button>

<script src="/javascripts/success.js"></script>
