<p class="h3">Success! Please use this link:</p>
<a
  class="mb-3 h3 text-primary"
  id="shortenedURL"
  href="{{shortenedURL}}"
  target="_blank"
>{{shortenedURL}}</a>
<button type="button" id="copyBtn" class="btn btn-primary px-5">Copy</button>

<div class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body py-5 text-center">
        <i class="bi bi-check2-circle text-success"></i>
        <p class="h3 mb-0 mt-3">Links copied successfully!</p>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/success.js"></script>
